<template>
    <div>
        <myHeader :user="user" :logged_in="logged_in" @update_user="update_user"></myHeader>
<!--        <myHeader ></myHeader>-->
        <div class="tab-content">
            <profile :user="user" :logged_in="logged_in" @update_user="update_user"></profile>
<!--            <profile ></profile>-->
            <crud-tab ></crud-tab>
            <file-upload></file-upload>
            <div class="tab-pane active" id="about" role="tabpanel" aria-labelledby="about-tab" aria-expanded="false">
                <div class="container">
                    <p>Source code : <a target="_blank" href="https://gitlab.com/ilov3gam3/vue3andlaravel.git">https://gitlab.com/ilov3gam3/vue3andlaravel.git</a></p>
                    <p>Backend : Laravel</p>
                    <p>Frontend : Vuejs</p>
                    <p>Server : aws</p>
                    <p>Ip : 52.77.44.124</p>
                </div>
            </div>
            <chat :user="user" :logged_in="logged_in"></chat>
        </div>
    </div>
</template>

<script>
import myHeader from "./myHeader.vue";
import CrudTab from "./crudTab.vue";
import FileUpload from "./fileUpload.vue";
import Profile from "./profile.vue";
import authAxios from "../customAxios";
import Chat from "./chat.vue";
export default {
    name: "app",
    components: {Chat, Profile, FileUpload, CrudTab, myHeader},
    data(){
        return{
            user : {},
            logged_in : false
        }
    },
    created() {
        if(localStorage.getItem('api_token') != null){
            authAxios
                .get('/api/user')
                .then((res)=>{
                    this.user = res.data
                    this.logged_in = true
                })
                .catch(function (error){
                    if (error.response.status === 401) {
                        toastr.info("Bạn chưa đăng nhập.")
                    }
                })
        }
    },
    methods:{
        update_user(user){
            this.user = user.user;
            this.logged_in = user.logged_in
        }
    }
}
</script>

<style scoped>

</style>
