<template>
    <div class="tab-pane" ref="class_chat_tab" id="chat" role="tabpanel" aria-labelledby="chat-tab"
         aria-expanded="false">
        <main class="content">
            <div class="container p-0">
                <div v-if="!logged_in" class="alert alert-danger">
                    <strong>Warning!</strong> Bạn phải log in để có thể nhắn tin.
                </div>
                <h1 class="h3 mb-3">Messages</h1>
                <div class="card"  v-if="logged_in">
                    <div class="row g-0">
                        <div class="col-12 col-lg-5 col-xl-3 border-right">
                            <div class="px-4 d-none d-md-block">
                                <div class="d-flex align-items-center">
                                    <div class="flex-grow-1">
                                        <input type="text" class="form-control my-3" placeholder="Search...">
                                    </div>
                                </div>
                            </div>
                            <div style="overflow-y: scroll; height:calc(100vh - 300px)">
                                <div style="max-height: calc(100vw * 0.4);">
                                    <a @click="this.current_chat_index = -1" class="list-group-item list-group-item-action border-0">
                                        <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"
                                             class="d-flex align-items-start">
                                            <img src="default-avatar.jpg" class="rounded-circle mr-1"
                                                 alt="Vanessa Tucker" width="40" height="40">
                                            <div class="flex-grow-1">
                                                <h5 class="mb-0">All</h5>
                                                <p class="card-text text-truncate">
                                                    {{ chat_all_mess.length === 0 ? '' :  chat_all_mess[chat_all_mess.length - 1].username + ':' + chat_all_mess[chat_all_mess.length-1].message}}
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div v-for="(value, key) in data">
                                    <a @click="current_chat_index = key; this.make_scroll()" class="list-group-item list-group-item-action border-0">
                                        <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"
                                             class="d-flex align-items-start">
                                            <img v-bind:src="value.user.avatar" class="rounded-circle mr-1"
                                                 alt="Vanessa Tucker" width="40" height="40">
                                            <div class="flex-grow-1">
                                                <h5>{{ value.user.username }}</h5>
                                                <p class="card-text text-truncate">
                                                    {{get_lass_mess(value.mess)}}
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                            </div>
                            <hr class="d-block d-lg-none mt-1 mb-0">
                        </div>
                        <div class="col-12 col-lg-7 col-xl-9">
                            <div class="py-2 px-4 border-bottom d-none d-lg-block">
                                <div class="d-flex align-items-center py-1">
                                    <div class="position-relative">
                                        <img v-bind:src="current_chat_index === -1 ? 'default-avatar.jpg' : data[current_chat_index].user.avatar" class="rounded-circle mr-1"
                                             alt="Sharon Lessman" width="40" height="40">
                                    </div>
                                    <div class="flex-grow-1 pl-3">
                                        <strong>{{
                                                this.current_chat_index === -1 ? 'All' : this.data[this.current_chat_index].user.username
                                            }}</strong>
                                    </div>
                                    <div>
                                        <button class="btn btn-primary btn-lg mr-1 px-3">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                 viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                 stroke-linecap="round" stroke-linejoin="round"
                                                 class="feather feather-phone feather-lg">
                                                <path
                                                    d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path>
                                            </svg>
                                        </button>
                                        <button class="btn btn-info btn-lg mr-1 px-3 d-none d-md-inline-block">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                 viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                 stroke-linecap="round" stroke-linejoin="round"
                                                 class="feather feather-video feather-lg">
                                                <polygon points="23 7 16 12 23 17 23 7"></polygon>
                                                <rect x="1" y="5" width="15" height="14" rx="2" ry="2"></rect>
                                            </svg>
                                        </button>
                                        <button class="btn btn-light border btn-lg px-3">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                 viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                 stroke-linecap="round" stroke-linejoin="round"
                                                 class="feather feather-more-horizontal feather-lg">
                                                <circle cx="12" cy="12" r="1"></circle>
                                                <circle cx="19" cy="12" r="1"></circle>
                                                <circle cx="5" cy="12" r="1"></circle>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div  class="position-relative">
                                <div class="chat-messages p-4" ref="scroll_me" style="overflow-y: scroll; height:calc(100vh - 300px); scroll-behavior: smooth">
                                    <div v-if="current_chat_index === -1" v-for="(value, key) in chat_all_mess">
                                        <div v-bind:class="this.user.id === value.user_sender ? 'chat-message-right pb-4' : 'chat-message-left pb-4'">
                                            <div>
                                                <img v-bind:src="value.avatar" class="rounded-circle mr-1" v-bind:alt="value.username"  width="40" height="40">
                                                <div class="text-muted small text-nowrap mt-2">2:33 am</div>
                                            </div>
                                            {{check(key)}}
                                            <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
                                                <div class="font-weight-bold mb-1">{{value.user_sender === user.id ? 'you' : value.username}}</div>
                                                {{value.message}}
                                            </div>
                                        </div>
                                    </div>
                                    <div v-if="this.current_chat_index !== -1" v-for="(value, key) in this.data[this.current_chat_index].mess">
                                        <div v-bind:class="this.user.id === value.user_sender ? 'chat-message-right pb-4' : 'chat-message-left pb-4'">
                                            <div>
                                                <img v-bind:src="this.user.id === value.user_sender ? user.avatar : this.data[this.current_chat_index].user.avatar" class="rounded-circle mr-1" alt="Chris Wood" width="40" height="40">
                                                <div class="text-muted small text-nowrap mt-2">2:33 am</div>
                                                {{check(key)}}
                                            </div>
                                            <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
                                                <div class="font-weight-bold mb-1">{{this.user.id === value.user_sender ? user.username : this.data[this.current_chat_index].user.username}}</div>
                                                {{value.message}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="flex-grow-0 py-3 px-4 border-top">
                                <div class="col-md-12">
                                    <form @submit="send_mess($event)">
                                        <div class="row">
                                            <div class="col-md-9"><input v-model="message.mess" type="text"
                                                                         class="form-control"
                                                                         placeholder="Type your message"></div>
                                            <div class="col-md-3">
                                                <button class="btn btn-block btn-primary">Send</button>

                                            </div>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</template>

<script>
import authAxios from "../customAxios";

export default {
    name: "chat",
    props: {
        user: Object,
        logged_in: Boolean
    },
    data() {
        return {
            current_chat_index: -1,
            receiver_id: 0,
            chat_all_mess: [],
            message: {},
            data : [],
            socket: io('ws://localhost:3000'),
        }
    },
    async created() {
        this.socket.on('chat', (id) => {
            authAxios
                .get('/api/chat/mess/' + id)
                .then((res) => {
                    var temp = res.data
                    if (temp.user_receiver === 0){
                        if (temp.user_sender === this.user.id){
                            temp.avatar = this.user.avatar
                            temp.username = this.user.username
                        } else {
                            temp.avatar = (this.data.find(u => u.user.id === temp.user_sender).user).avatar
                            temp.username = (this.data.find(u => u.user.id === temp.user_sender).user).username
                        }
                        this.chat_all_mess.push(temp)
                        this.make_scroll()
                    } else {
                        var chatting_with = 0;
                        if (temp.user_sender === this.user.id){
                            chatting_with = this.data.findIndex(u => u.user.id === temp.user_receiver)
                        } else { // temp.user_receiver === this.user.id
                            chatting_with = this.data.findIndex(u => u.user.id === temp.user_sender)
                        }
                        this.data[chatting_with].mess.push(temp)
                        this.make_scroll()
                    }
                })

        })
    },
    methods: {
        get_lass_mess(arr){
            if (arr.length === 0){
                return null;
            } else {
                if (arr[arr.length -1].user_sender === this.user.id)
                    return 'you : ' + arr[arr.length -1].message
                return arr[arr.length -1].message
            }
        },
        get_users() {
            authAxios
                .get('/api/chat/')
                .then((res) => {
                    this.data = res.data.data
                    this.chat_all_mess = res.data.chat_all_mess
                })
        },
        check(index){
            if (this.current_chat_index === -1){
                if (index === this.chat_all_mess.length -1){
                    this.make_scroll()
                }
            } else {
                if (index === this.data[this.current_chat_index].mess.length -1){
                    this.make_scroll()
                }
            }
            return null;
        },
        send_mess(e) {
            e.preventDefault()
            if (this.current_chat_index === -1) {
                this.message.receiver = 0
            } else {
                this.message.receiver = this.data[this.current_chat_index].user.id
            }
            authAxios
                .post('/api/chat/send', this.message)
                .then((res) => {
                    if (res.data === 1) {
                        this.message.mess = ''
                    } else {
                        toastr.warning('loi')
                    }
                })
        },
        make_scroll(){
            setTimeout(() => {
                this.$refs.scroll_me.scrollTop = this.$refs.scroll_me.scrollHeight
            }, 500);
        }
    },
    /*directives: {
        'scroll-bottom': {
            inserted: function (el) {
                el.scrollTop = el.scrollHeight;
            }
        }
    },*/
    watch:{
        user(){
            this.socket.emit('join', String(this.user.id))
            this.get_users()
        }
    },
    mounted() {
        const crud_div = this.$refs.class_chat_tab
        const observer = new MutationObserver((mutationsList) => {
            for (let mutation of mutationsList) {
                if (mutation.type === 'attributes' && mutation.attributeName === 'class') {
                    this.make_scroll()
                }
            }
        });
        observer.observe(crud_div, { attributes: true });
    }
}
</script>

<style scoped>
body {
}

.chat-online {
    color: #34ce57
}

.chat-offline {
    color: #e4606d
}

.chat-messages {
    display: flex;
    flex-direction: column;
    max-height: 800px;
    overflow-y: scroll
}

.chat-message-left,
.chat-message-right {
    display: flex;
    flex-shrink: 0
}

.chat-message-left {
    margin-right: auto
}

.chat-message-right {
    flex-direction: row-reverse;
    margin-left: auto
}

.py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.px-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}

.flex-grow-0 {
    flex-grow: 0 !important;
}

.border-top {
    border-top: 1px solid #dee2e6 !important;
}
</style>
