<template>
    <div class="tab-pane"  ref="class_crud_tab" role="tabpanel" id="home" aria-labelledby="home-tab" aria-expanded="true">
    <div class="row">
        <div class="col-md-4">
            <form v-on:submit="form_sub($event)">
                <div class="col-12">
                    <div class="form-group">
                        <label for="itemname">Nhập tên Item</label>
                        <input class="form-control" type="text" id="itemname" v-model="item_name.name">
                    </div>
                </div>
                <div class="col-12">
                    <button v-show="!item_editing" class="btn btn-primary btn-block">add</button>
                    <div class="row">
                        <div v-show="item_editing" class="col-md-6" v-on:click="confirm_item_edit">
                            <button class="btn btn-block btn-primary">edit</button>
                        </div>
                        <div v-show="item_editing" class="col-md-6" v-on:click="item_editing = false; item_name.name = ''">
                            <button type="button" class="btn btn-block btn-dark">cancel</button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
        <div class="col-md-8">
            <table class="table">
                <thead>
                <tr class="d-flex">
                    <th scope="col" class="col-1">#</th>
                    <th scope="col" class="col-4">name</th>
                    <th scope="col" class="col-1">username</th>
                    <th scope="col" class="col-1">created</th>
                    <th scope="col" class="col-1">updated</th>
                    <th scope="col" class="col-3 text-center">action</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item, index) in item_list" class="d-flex">
                    <th class="col-1" scope="row">{{item.id}}</th>
                    <td class="col-4">{{item.name}}</td>
                    <td class="col-1">{{ item.username }}</td>
                    <td class="col-1">{{ new Date(item.created_at).toLocaleString() }}</td>
                    <td class="col-1">{{ new Date(item.updated_at).toLocaleString() }}</td>
                    <td class="col-3">
                        <div class="row">
                            <div class="col-md-6"><button class="btn btn-block btn-warning" v-on:click="edit_item(index)">update</button></div>
                            <div class="col-md-6"><button class="btn btn-block btn-danger" v-on:click="remove_item(item.id)">delete</button></div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
</template>

<script>
import customAxios from "../customAxios";
export default {
    name: "crudTab",
    data(){
        return{
            item_list : [],
            item_name : {},
            item_editing : false,
            item_editing_id : 0
        }
    },
    created() {
    },
    methods: {
        form_sub(e) {
            e.preventDefault()
            if (this.item_editing) {
                const payload = {
                    'id': this.item_editing_id,
                    'name': this.item_name.name
                }
                customAxios
                    .post('/api/item/edit/', payload)
                    .then((res) => {
                        if (res.data) {
                            toastr.success("Thay đổi thành công.")
                            this.loadItem()
                            this.item_name = ''
                            this.item_editing = false
                            this.item_editing_id = 0
                        } else {
                            toastr.error("Lỗi")
                        }
                    })
            } else {
                // add new
                customAxios
                    .post('/api/item/add', this.item_name)
                    .then((res) => {
                        if (res.data) {
                            this.loadItem()
                            this.item_name.name = ''
                            console.log(res.data)
                            toastr.success("Thêm Item thành công")
                        } else {
                            toastr.error("Lỗi")
                        }
                    })
            }
        },
        loadItem() {
            customAxios
                .get('/api/item')
                .then((res) => {
                    this.item_list = res.data
                })
        },
        edit_item(index) {
            this.item_editing_id = this.item_list[index].id
            this.item_name.name = this.item_list[index].name
            this.item_editing = true
        },
        remove_item(id) {
            customAxios
                .get('/api/item/delete/' + id)
                .then((res) => {
                    if (res.data) {
                        this.loadItem()
                        toastr.success("Xoá thành công.")
                    } else {
                        toastr.error("Lỗi")
                    }
                })
        }
    },
    mounted() {
        const crud_div = this.$refs.class_crud_tab
        const observer = new MutationObserver((mutationsList) => {
            for (let mutation of mutationsList) {
                if (mutation.type === 'attributes' && mutation.attributeName === 'class') {
                    this.loadItem()
                }
            }
        });
        observer.observe(crud_div, { attributes: true });
    }
}
</script>

<style scoped>

</style>
