<template>
    <div class="tab-pane" ref="class_file_tab" id="dropdown1" role="tabpanel" aria-labelledby="dropdown1-tab" aria-expanded="false">
        <div class="row">
            <div class="col-md-4 mt-3">
                <h2>Upload file here</h2>
                <form>
                    <div class="row">
                        <div class="input-group mb-3">
                            <div class="custom-file col-md-12 m-3">
                                <input type="file" class="custom-file-input" id="inputGroupFile01"
                                       aria-describedby="inputGroupFileAddon01" v-on:change="onChange($event)">
                                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                            </div>
                            <div class="col-md-12 mb-3">
                                <select class="form-control" v-model="upload_option" name="" id="">
                                    <option value="1">Local</option>
                                    <option value="0">S3</option>
                                </select>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <button type="button" class="btn btn-block btn-warning" v-on:click="clear_file">
                                            clear
                                        </button>
                                    </div>
                                    <div class="col-md-6">
                                        <button class="btn btn-success btn-block" v-on:click="up_file($event)">submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mt-3">
                                <h4 style="width: 100%;overflow: hidden; white-space: nowrap;text-overflow: ellipsis;"
                                    v-bind:hidden="hidden_status" v-text="'File selected : ' + file_selected"></h4>
                                <div class="float-right" v-bind:hidden="progress_bar_status" v-text="((uploadPercentage / 100 * file_size)/1024/1024).toFixed(2) +'/' + (file_size/1024/1024).toFixed(2) + 'mb'">

                                </div>
                                <div class="float-left" v-bind:hidden="progress_bar_status" v-text="uploadPercentage + '%'"></div>
                                <progress max="100" :value.prop="uploadPercentage" v-bind:hidden="progress_bar_status"
                                          style="width: 100%"></progress>
                                <br>
                                <img style="border-style: dotted; width: 100%" v-bind:src="image_source" v-bind:hidden="image_status">
                                <video controls v-bind:hidden="video_status" style="width: 100%;">

                                </video>
                                <p id="result" v-bind:hidden="text_status" style="width: 100%"></p>
                                <audio id="audio-preview" controls v-bind:hidden="audio_status"
                                       style="width: 100%"></audio>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-8 mt-3">
                <h2>List file uploaded</h2>
                <h4 v-text="'Total size : ' + (total_size.sum/1024/1024).toFixed(2) + 'MB'"></h4>
                <h4 v-text="'Local : ' + (total_size.local/1024/1024).toFixed(2) + 'MB'"></h4>
                <h4 v-text="'Not local : ' + (total_size.not_local/1024/1024).toFixed(2) + 'MB'"></h4>
                <div class="row">
                    <div class="form-group col-md-2">
                        <label for="exampleFormControlSelect1">Search by type</label>
                        <select class="form-control" id="exampleFormControlSelect1" v-model="search_type">
                            <option value="-2">Not local</option>
                            <option value="-1">Local</option>
                            <option value="0">All</option>
                            <template v-for="(value, key) in list_type">
                                <option v-bind:value="value.id">{{ value.name }}</option>
                            </template>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="search_input">Search by name</label>
                        <div class="input-group mb-3">
                            <input id="search_input" v-model="search_name" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="search_input">hello</label>
                        <button class="btn btn-block btn-info" v-on:click="search" >Search</button>
                    </div>
                </div>

                <table class="col-md-12 table">
                    <thead>
                    <tr>
                        <th scope="col" class="col-md-1 text-center">ID</th>
                        <th scope="col" class="col-md-4 text-center">Link</th>
                        <th scope="col" class="col-md-1 text-center">Uploader</th>
                        <th scope="col" class="col-md-2 text-center">Action</th>
                        <th scope="col" class="col-md-1 text-center">Size</th>
                        <th scope="col" class="col-md-1 text-center">Type</th>
                        <th scope="col" class="col-md-1 text-center">Time</th>
                    </tr>
                    </thead>
                    <tbody>
                    <template v-for="(value, key) in list_all">
                        <tr>
                            <td class="col-md-1">{{ value.id }}</td>
                            <td class="col-md-4">
                                <a v-bind:href="value.path" target="about:blank" >
                                    <h6 id="name_in_table">
                                        {{ get_file_name_from_path(value.path) }}
                                    </h6>
                                </a>
                            </td>
                            <td class="col-md-1">{{ value.username }}</td>
                            <td class="col-md-2">
                                <div class="row">
                                    <div class="col-md-6">
                                        <button v-on:click="del_file(value.id)" class="btn btn-danger btn-block">
                                            Delete
                                        </button>
                                    </div>
                                    <div class="col-md-6">
                                        <button v-on:click="preview(value.file_type_name, value.path)"
                                                class="btn btn-block btn-dark" data-toggle="modal"
                                                data-target="#preview_modal">Preview
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td class="col-md-1 text-center">{{ (parseInt(value.size)/1024/1024).toLocaleString()}}
                                MB
                            </td>
                            <td class="col-md-1 text-center">{{ value.file_type_name }}</td>
                            <td class="col-md-1 text-center">{{new Date(value.created_at).toLocaleString('en-GB')}}</td>
                        </tr>
                    </template>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal fade" id="preview_modal" tabindex="-1" aria-labelledby="exampleModalLgLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title h4" id="exampleModalLgLabel">Preview haha</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h4 v-text="'File name : ' + file_name" class="m-2"></h4>
                        <img v-bind:src="preview_img_src" v-bind:hidden="preview_img_status" style="width: 100%">
                        <video v-bind:src="preview_vid_src" v-bind:hidden="preview_vid_status" style="width: 100%"
                               controls="controls"></video>
                        <p id="preview_text" v-bind:hidden="preview_text_status" style="width: 100%"></p>
                        <audio controls="controls" v-bind:src="preview_audio_src" v-bind:hidden="preview_audio_status"
                               style="width: 100%"></audio>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import authAxios from "../customAxios";
export default {
    name: "fileUpload",
    data(){
        return{
            upload_option : 1,
            file: '',
            image_source: '',
            image_status: true,

            list_all: [],
            file_selected: '',
            hidden_status: true,

            video_source: '',
            video_type: '',
            video_status: true,

            text_status: true,

            audio_status: true,

            preview_img_src: '',
            preview_img_status: true,

            preview_vid_src: '',
            preview_vid_status: true,

            preview_text_status: true,

            preview_audio_src: '',
            preview_audio_status: true,

            file_name: '',

            total_size: {},

            uploadPercentage: 0,
            file_size: 0,
            progress_bar_status: true,
            load_more_link : '/s3/get',
            load_more_btn_status : false,
            list_type : [],
            search_type : 0,
            search_name : '',
            width: '',
            styleObject: {}
        }
    },
    created() {

    },
    methods:{
        get_file_name_from_path(path){
            return path.split('/')[path.split('/').length - 1];
        },
        shorten_text(text){

        },
        onChange(e) {
            this.image_status = true
            this.video_status = true
            this.text_status = true
            this.audio_status = true;
            this.hidden_status = false;
            this.file = e.target.files[0];
            var type = this.file.type
            var type_arr = type.split('/')
            this.file_selected = this.file.name;
            switch (type_arr[0]) {
                case 'image' :
                    this.image_source = URL.createObjectURL(this.file);
                    this.image_status = false;
                    break;
                case 'video' :
                    this.video_source = URL.createObjectURL(this.file);
                    var video = document.getElementsByTagName('video')[0];
                    video.src = this.video_source;
                    video.load();
                    this.video_status = false;
                    this.video_type = type
                    break;
                case 'text' :
                    this.text_status = false;
                    var result = document.getElementById("result");
                    var reader = new FileReader();
                    reader.onload = function (event) {
                        result.innerText = event.target.result;
                    };
                    reader.readAsText(this.file);
                    break;
                case 'audio' :
                    this.audio_status = false;
                    let audio = document.getElementById('audio-preview');
                    let audio_reader = new FileReader();

                    audio_reader.readAsDataURL(this.file);
                    audio_reader.addEventListener('load', function () {
                        audio.src = audio_reader.result;
                    });
                    break
                default :
                    toastr.info("Không thể hiển thị file này!")
                    this.hidden_status = false;
            }

        },
        clear_file() {
            this.file = '';
            this.image_status = true;
            this.video_status = true;
            this.text_status = true;
            this.audio_status = true;
        },
        up_file(e) {
            e.preventDefault();
            this.progress_bar_status = false;
            this.file_size = this.file.size
            let data = new FormData();
            data.append('file', this.file);
            data.append('upload_option', this.upload_option)
            authAxios
                .post('/api/file_upload', data, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    },
                    onUploadProgress: function (progressEvent) {
                        this.uploadPercentage = parseInt(Math.round((progressEvent.loaded / progressEvent.total) * 100));
                    }.bind(this)
                })
                .then((res) => {
                    if (res.data.status === true) {
                        this.progress_bar_status = true;
                        this.uploadPercentage = 0;
                        this.hidden_status = true;
                        toastr.success("Tải file lên thành công.");
                        this.get_all();
                        this.get_size();
                    } else {
                        toastr.error(res.data.mess)
                        toastr.warning("Tải file lên thất bại.");
                    }
                })
        },
        get_all() {
            authAxios
                .get('/api/file_upload/get')
                .then((res) => {
                    this.list_all = res.data
                })
        },
        del_file(id) {
            var payload = {
                'id': id
            }
            authAxios
                .post('/api/file_upload/delete', payload)
                .then((res) => {
                    if (res.data.status === true) {
                        toastr.success('Đã xoá thành công')
                        this.get_all()
                        this.get_size();
                    } else {
                        toastr.error('Lỗi rùi bạn êi!')
                    }
                })
        },
        async copy_link(link) {
            try {
                await navigator.clipboard.writeText(window.location.host + link)
                toastr.success('Đã copy')
            } catch ($e) {
                toastr.error('Lỗi')
            }
        },
        preview(type, path) {
            this.file_name = this.get_file_name_from_path(path)
            this.preview_img_status = true;
            this.preview_vid_status = true;
            this.preview_text_status = true;
            this.preview_audio_status = true;
            switch (type) {
                case 'image' :
                    this.preview_img_src = path;
                    this.preview_img_status = false;
                    break;
                case 'video' :
                    this.preview_vid_src = path;
                    this.preview_vid_status = false;
                    break;
                case 'text' :
                    this.preview_text_status = false;
                    var payload = {
                        'path': path
                    }
                    authAxios
                        .post('/api/file_upload/preview_text_file', payload)
                        .then((res) => {
                            var result = document.getElementById("preview_text");
                            result.innerText = res.data
                        })
                    break;
                case 'audio':
                    this.preview_audio_status = false;
                    this.preview_audio_src = path;
                    break;
                default :
                    toastr.info("Không thể hiển thị file này!")
                    this.hidden_status = false;
            }
        },
        get_size() {
            authAxios
                .get('/api/file_upload/total_size')
                .then((res) => {
                    this.total_size = res.data
                })
        },
        catch_percent(){
            if (this.uploadPercentage === 100){
                // toastr.info('Đã tải lên server, từ giờ server sẽ upload lên s3. Cái ni tui éo làm progress đc :))))!')
            }
        },
        get_type(){
            authAxios
                .get('/api/file_upload/get_type')
                .then((res) =>{
                    this.list_type = res.data
                })
        },
        search(){
            var payload = {
                'type' : this.search_type,
                'name' : this.search_name,
            }
            authAxios
                .post('/api/file_upload/search', payload)
                .then((res) => {
                    this.list_all = res.data
                })
        }
    },
    mounted() {
        const crud_div = this.$refs.class_file_tab
        const observer = new MutationObserver((mutationsList) => {
            for (let mutation of mutationsList) {
                if (mutation.type === 'attributes' && mutation.attributeName === 'class') {
                    this.get_all();
                    this.get_size();
                    this.get_type();
                }
            }
        });
        observer.observe(crud_div, { attributes: true });
    },
    updated() {
        this.catch_percent();
    }
}
</script>

<style scoped>

</style>
