<template>
<div>
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
            </a>
        </div>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link active" id="about-tab" data-toggle="pill" href="#about" aria-expanded="false">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " id="profile-tab" data-toggle="pill" href="#profile" aria-expanded="false">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " id="home-tab" data-toggle="pill" href="#home" aria-expanded="true" >CRUD</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " id="dropdown1-tab" data-toggle="pill" href="#dropdown1" aria-expanded="true" >File Upload</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="chat-tab" data-toggle="pill" href="#chat" aria-expanded="false">Chat</a>
                </li>
            </ul>
        </ul>

        <div class="col-md-3 text-end">
            <button v-show="!logged_in" type="button" class="btn btn-outline-primary mr-2" data-toggle="modal" data-target="#login_modal">Login</button>
            <button v-show="!logged_in" type="button" class="btn btn-primary" data-toggle="modal" data-target="#register_modal">Sign-up</button>
<!--            <button @click="check_login">check login</button>-->
            <form v-show="logged_in" class="form-inline my-2 my-lg-0">
                {{ user.username }} &nbsp;&nbsp;
                <img class="img-thumbnail rounded-circle" style="width: 50px; height: 50px; object-fit: cover" v-bind:src="user.avatar">
            </form>
        </div>
<!--        modal here-->
        <div class="modal fade" id="register_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Register</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Register Form</h4>
                            </div>
                            <div class="card-body">
                                <form @submit="user_register($event)" class="form form-horizontal">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group row">
                                                <div class="col-sm-3 col-form-label">
                                                    <label for="first-name">Username</label>
                                                </div>
                                                <div class="col-sm-9">
                                                    <input v-model="register.username" name="username" type="text" class="form-control" placeholder="Username">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group row">
                                                <div class="col-sm-3 col-form-label">
                                                    <label for="email-id">Email</label>
                                                </div>
                                                <div class="col-sm-9">
                                                    <input v-model="register.email" type="email"  class="form-control" name="email" placeholder="Email">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group row">
                                                <div class="col-sm-3 col-form-label">
                                                    <label for="password">Password</label>
                                                </div>
                                                <div class="col-sm-9">
                                                    <input v-model="register.password" type="password" class="form-control" name="password" placeholder="Password">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-9 offset-sm-3">
                                            <button type="submit" class="btn btn-primary mr-1 waves-effect waves-float waves-light">Submit</button>
                                            <button type="reset" class="btn btn-outline-secondary waves-effect">Reset</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button ref="close_reg" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="login_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Register</h5>
                        <button ref="close_log" type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Login Form</h4>
                            </div>
                            <div class="card-body">
                                <form @submit="user_login($event)" class="form form-horizontal">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group row">
                                                <div class="col-sm-3 col-form-label">
                                                    <label for="first-name">Username or email</label>
                                                </div>
                                                <div class="col-sm-9">
                                                    <input v-model="login.username" type="text" class="form-control" placeholder="Username">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group row">
                                                <div class="col-sm-3 col-form-label">
                                                    <label for="password">Password</label>
                                                </div>
                                                <div class="col-sm-9">
                                                    <input v-model="login.password" type="password" class="form-control" name="password" placeholder="Password">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-9 offset-sm-3">
                                            <button type="submit" class="btn btn-primary mr-1 waves-effect waves-float waves-light">Submit</button>
                                            <button type="reset" class="btn btn-outline-secondary waves-effect">Reset</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
</template>

<script>
import authAxios from "../customAxios";
export default {
    name: "myHeader",
    props : {
        user : Object,
        logged_in: Boolean
    },
    data(){
        return{
            register : {},
            login : {},
        }
    },
    created() {

    },
    methods:{
        handle(data){
            console.log(data)
        },
        user_register(e){
            e.preventDefault()
            axios
                .post('/api/user/register', this.register)
                .then((res)=>{
                    if (res.data){
                        this.$refs.close_reg.click()
                        toastr.success("Đăng kí thành công, vui kiểm tra email của bạn.")
                    } else {
                        toastr.error("Đã có lỗi xảy ra.")
                    }
                })
                .catch((res)=>{
                    const errors = res.response.data.errors;
                    $.each(errors, function(key, value) {
                        toastr.error(value[0]);
                    });
                })

        },
        user_login(e){
            e.preventDefault()
            axios
                .post('/api/user/login', this.login)
                .then((res)=>{
                    localStorage.setItem('api_token', res.data.api_token)
                    if (res.data.status === true){
                        this.status_login = true
                        toastr.success("Đăng nhập thành công.")
                        this.$refs.close_log.click()
                        this.get_user_info()
                    } else {
                        toastr.error("Tên đăng nhập hoặc mật khẩu sai.")
                    }
                })
        },
        check_login(){
            authAxios.get('/api/user/logout/')
                            .then((res)=>{
                                if (res.data){
                                    this.status_login = false
                                }
                            })
        },
        get_user_info(){
            authAxios
                .get('/api/user')
                .then((res)=>{
                    this.$emit("update_user", {'user' : res.data, 'logged_in' : true})
                })
                .catch(function (error){
                    if (error.response.status === 401) {
                        toastr.info("Bạn chưa đăng nhập.")
                    }
                })
        }
    },
}
</script>

<style scoped>

</style>
