<template>
    <div class="tab-pane " id="profile" role="tabpanel" aria-labelledby="profile-tab" aria-expanded="false">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-1" v-if="user.id !== undefined && user.email_verified_at == null">
                        <div class="row">
                            <h4>Email của bạn chưa được xác minh</h4>
                            <button class="btn ml-2 btn btn-info" @click="resendMail">Gửi lại email</button>
                        </div>
                    </div>
                    <form @submit="form_submit($event)">
                        <div class="form-group">
                            <label for="basicInput">Username</label>
                            <input type="text" class="form-control" id="basicInput" v-model="user.username"
                                   placeholder="Enter username">
                        </div>
                        <div class="form-group">
                            <label for="basicInputemail">Email</label>
                            <input type="text" class="form-control" id="basicInputemail" v-model="user.email"
                                   placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="basicInputoldpass">Change password</label>
                            <input type="text" class="form-control mt-1" id="basicInputnew_pass" v-model="user.new_pass"
                                   placeholder="Enter new pass">
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button class="btn btn-block btn-primary" type="submit">submit</button>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-block btn-dark" type="reset">reset</button>
                            </div>
                        </div>
                    </form>
                    <button class="btn btn-danger mt-2" v-on:click="logout()">logout</button>
                </div>
                <div class="col-md-6">
                    <form @submit="change_avatar($event)">
                        <div class="custom-file col-md-12"><input type="file" name="file" id="inputGroupFile02"
                                                                  aria-describedby="inputGroupFileAddon02"
                                                                  class="custom-file-input" v-on:change="onChange($event)"> <label
                            for="inputGroupFile01" class="custom-file-label">Choose file</label></div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6 mt-2">
                                    <button type="reset" class="btn btn-block btn-dark">reset</button>
                                </div>
                                <div class="col-md-6 mt-2">
                                    <button type="submit" class="btn btn-block btn-info">submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <img class="m-1" v-bind:hidden="preview_img_status" style="border-style: dotted; object-fit: cover; width:100%" v-bind:src="preview_img_src" alt="">
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import authAxios from "../customAxios";
import MyHeader from "./myHeader.vue";
export default {
    name: "profile",
    components: {MyHeader},
    props : {
        user : Object,
        logged_in: Boolean
    },
    data() {
        return {
            preview_img_src : '',
            preview_img_status : true,
            file : '',
            user_update : this.user
        }
    },
    created() {
    },
    methods: {
        form_submit(e) {
            e.preventDefault()
            authAxios
                .post('/api/user/update', this.user)
                .then((res) => {
                    if (res.data.status == true) {
                        toastr.success("Lưu thay đổi thành công.")
                        if (res.data.re_verify_email == true){
                            toastr.info("Vui lòng kiểm tra email của bạn.")
                        }
                    } else {
                        toastr.error("Lỗi.")
                    }
                })
        },
        onChange(e){
            this.file = e.target.files[0];
            if (this.file.type.split("/")[0] !== 'image'){
                toastr.warning('Phải là file ảnh')
            } else {
                this.preview_img_src = URL.createObjectURL(this.file)
                this.preview_img_status = false
            }
        },
        change_avatar(e){
            e.preventDefault()
            const payload = new FormData()
            payload.append('file', this.file)
            const config = {
                headers : {
                    'content-type': 'multipart/form-data'
                }
            }
            authAxios
                .post('/api/user/change_avatar', payload, config)
                .then((res)=>{
                    if (res.data.status == true) {
                        toastr.success("Lưu thay đổi thành công.")
                        this.user.avatar = res.data.avatar
                    } else {
                        toastr.error("Lỗi.")
                    }
                })
        },
        logout(){
            authAxios
                .get('/api/user/logout')
                .then((res)=>{
                    if (res.data == true){
                        toastr.success("đã đăng xuất.")
                        this.$emit("update_user", {'user' : {}, 'logged_in' : false})
                        localStorage.removeItem('api_token')
                    }
                })
                .catch(function (error){
                    if (error.response.status === 401) {
                        toastr.info("Bạn chưa đăng nhập.")
                    }
                })
        },
        resendMail(){
            authAxios
                .get('/api/user/resend_mail')
                .then((res)=>{
                    if (res.data==true){
                        toastr.info("Vui lòng kiểm tra email của bạn.")
                    }
                })
                .catch(function (error){
                    if (error.response.status === 401) {
                        toastr.info("Bạn chưa đăng nhập.")
                    }
                })
        }
    },
}
</script>

<style scoped>

</style>
